@use "../abstracts" as *;

.btn{
    padding: 10px 40px;
    border-radius: 5px;
}

.contain--btn{
    background-color: #FFA688;
   border: 1px solid;
    color: black;
    font-weight: 600;

    &:hover{
        background-color: transparent;
        border: 1px solid $primary-color;
        color: $primary-color;
        font-weight: 600;

    }
}



.border--btn{
    background-color: transparent;
    border: 1px solid $primary-color;
    color: $primary-color;
    font-weight: 600;
    
    &:hover{
        background-color: #FFA688;
    border: 1px solid;
    color: black;
    font-weight: 600;

    }
}

.text--btn{

    color: white;
    background-color: transparent;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid white;
    padding: 0;
}