@use "../abstracts" as *;
@use "../layout" as *;

form{
    @include flex(flex-start, start, 30px, column);


    input, textarea{
        background-color: transparent;
        border: 2px solid $primary-color;
        border-radius: 5px;
        padding: 10px;
        width: 100%;
        color: $secondary-color;

        &:focus::placeholder{
            color: transparent;
        }
    }
    ::placeholder{
        color: $primary-color;
    }
}